
@{
    //https://github.com/material-components/material-components-web/tree/master/packages/mdc-elevation
    ViewData["Title"] = "Accueil";

    BiglinkContext bglinkEnregistrer = new BiglinkContext
    {
        icon = "note_add",
        text = "Enregistrez les évaluations des élèves."
    };
    BiglinkContext bglinkList = new BiglinkContext
    {
        icon = "note_add",
        text = "Voir le progrès de vos élèves!"
    };
    BiglinkContext bglinkRejoindre = new BiglinkContext
    {
        icon = "note_add",
        text = "Nous rejoindre."
    };

}

<div class="container">
    <div class="accueil-message">
        <h6>Bienvenue sur l'intranet exclusivement conçu pour les professeurs.</h6>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col">
            <Biglink controller="Evaluation" action="Create" info="bglinkEnregistrer" />
        </div>
        <div class="col">
            <Biglink controller="Evaluation" action="List" info="bglinkList" />
        </div>
        <div class="col">
            <biglink controller="Mail" action="Send" info="bglinkRejoindre" />
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/accueil.js"></script>
}

