@model Laboratoire1.Models.Evaluation;

@{
    /**
     * 
     * Yan Ha Routhier-Chevrier
     * 1473192 - laboratoire 1
     * 
     * */
    ViewData["Title"] = "Create";
    Dictionary<string, char> selectListItems = new Dictionary<string, char>(){
        { "Homme", 'H' },
        { "Femme", 'F' }
    };
    List<SelectListItem> evaluationlist = new List<SelectListItem>
    {
        new SelectListItem { Value = "Très bien", Text = "Très bien" },
        new SelectListItem { Value = "Bien", Text = "Bien" },
        new SelectListItem { Value = "Moyen", Text = "Moyen"  },
        new SelectListItem { Value = "Médiocre", Text = "Médiocre"  },
    };
}

@if (ViewBag.m_message != null)
{
    <section id="message-alert" data-message="@ViewBag.m_message" data-type="@ViewBag.type"></section>
}
<div class="container white-wrapper pb-5">
    <div class="flex-wrapper p-50-0">
        <div class="superior-wrapper m-auto w230-h10 orange-72">
            <h1>Formulaire de nouvelle évaluation.</h1>
        </div>
    </div>
    <form id="myform" asp-controller="Evaluation" asp-action="Create" method="post">
        <div class="flex-wrapper">
            <div class="superior-wrapper m-auto rect-md dark-blue-background scroll">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="num_evaluation" class="control-label"></label>
                    <input name="num_evaluation" asp-for="num_evaluation" class="form-control" />
                    <span asp-validation-for="num_evaluation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="nom_eleve" class="control-label"></label>
                    <input name="nom_eleve" asp-for="nom_eleve" class="form-control" />
                    <span asp-validation-for="nom_eleve" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="prenom_eleve" class="control-label"></label>
                    <input name="prenom_eleve" asp-for="prenom_eleve" class="form-control" />
                    <span asp-validation-for="prenom_eleve" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="telephone_eleve" class="control-label"></label>
                    <input name="telephone_eleve" asp-for="telephone_eleve" class="form-control" />
                    <span asp-validation-for="telephone_eleve" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="courriel_eleve" class="control-label"></label>
                    <input name="courriel_eleve" asp-for="courriel_eleve" class="form-control" />
                    <span asp-validation-for="courriel_eleve" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="genre_eleve" class="control-label"></label><br>
                    <div class="form-check form-check-inline">
                        <fieldset>
                            @foreach (var sex in selectListItems)
                            {
                                <input name="genre_eleve" class="form-check-input" type="radio" asp-for="genre_eleve" value="@sex.Value" />
                                <label class="form-check-label" asp-for="courriel_eleve">@sex.Key</label>
                            }
                            <label for="genre_eleve" class="error" style="display:none;">Vous devez faire un choix.</label>
                        </fieldset>
                    </div>
                    <br><span asp-validation-for="genre_eleve" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="note_evaluation" class="control-label"></label>
                    <input name="note_evaluation" asp-for="note_evaluation" class="form-control" type="number"/>
                    <span asp-validation-for="note_evaluation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="date_evaluation" class="control-label"></label>
                    <input name="date_evaluation" asp-for="date_evaluation" class="form-control" />
                    <span asp-validation-for="date_evaluation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="commentaires_evaluation" class="control-label"></label>
                    <select name="commentaires_evaluation" asp-for="commentaires_evaluation" asp-items="evaluationlist"></select>
                    <span asp-validation-for="commentaires_evaluation" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group" style="text-align:center">
            <button type="submit" class="btn btn-success p-2">Enregistrer</button>
            <a asp-controller="Evaluation" asp-action="List" class="btn btn-danger p-2">Annuler</a>
        </div>
    </form>
</div>

@section Scripts
    {
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="~/js/Create.js"></script>
}
