@model Laboratoire1.Models.Evaluation

@{
    /**
     * 
     * Yan Ha Routhier-Chevrier
     * 1473192 - laboratoire 1
     * 
     * */
    ViewData["Title"] = "Delete";
    Dictionary<string, char> selectListItems = new Dictionary<string, char>(){
        { "Homme", 'H' },
        { "Femme", 'F' }
        };
}

<div class="container white-wrapper pb-5">
    <div class="flex-wrapper p-50-0">
        <div class="superior-wrapper m-auto w230-h10 orange-72">
            <h1>Supprimer une évaluation.</h1>
        </div>
    </div>
    <form id="myform" asp-action="Delete" method="post">
        <div class="flex-wrapper">
            <div class="superior-wrapper m-auto rect-md dark-blue-background scroll">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="num_evaluation" class="control-label"></label>
                    <input readonly="readonly" asp-for="num_evaluation" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="nom_eleve" class="control-label"></label>
                    <input readonly="readonly" asp-for="nom_eleve" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="prenom_eleve" class="control-label"></label>
                    <input readonly="readonly" asp-for="prenom_eleve" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="telephone_eleve" class="control-label"></label>
                    <input readonly="readonly" asp-for="telephone_eleve" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="courriel_eleve" class="control-label"></label>
                    <input readonly="readonly" asp-for="courriel_eleve" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="genre_eleve" class="control-label"></label><br>
                    <div class="form-check form-check-inline">
                        <fieldset>
                            @switch (Model.genre_eleve)
                            {
                                case 'M':
                                    <label asp-for="genre_eleve">Homme</label>;
                                    <input readonly="readonly" name="genre_eleve" class="form-check-input" type="radio" asp-for="genre_eleve" value="H" checked="checked" />
                                    <label asp-for="genre_eleve">Femme</label>;
                                    <input readonly="readonly" name="genre_eleve" class="form-check-input" type="radio" asp-for="genre_eleve" value="F" />
                                    break;
                                case 'F':
                                    <label asp-for="genre_eleve">Homme</label>;
                                    <input readonly="readonly" name="genre_eleve" class="form-check-input" type="radio" asp-for="genre_eleve" value="H" />
                                    <label asp-for="genre_eleve">Femme</label>;
                                    <input readonly="readonly" name="genre_eleve" class="form-check-input" type="radio" asp-for="genre_eleve" value="F" checked="checked" />
                                    break;
                            }
                            <label for="genre_eleve" class="error" style="display:none;">Vous devez faire un choix.</label>
                        </fieldset>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="note_evaluation" class="control-label"></label>
                    <input readonly="readonly" asp-for="note_evaluation" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="date_evaluation" class="control-label"></label>
                    <input readonly="readonly" asp-for="date_evaluation" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="commentaires_evaluation" class="control-label"></label>
                    <input readonly="readonly" name="commentaires_evaluation"  asp-for="date_evaluation" class="form-control" />
                </div>
            </div>
        </div><br />
        <div class="form-group">
            <input type="submit" value="Supprimer" class="btn btn-danger" asp-route-num_evaluation="@Model.num_evaluation" asp-route-evaluation="@Model"/>
            <a asp-action="Index" class="btn btn-success">Annuler</a>
        </div>
    </form>
</div>